<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete"><head>
    <script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
  <title>Bookers2Ver2</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="QB8gAgjs-4RPxAEJCs8c01ZksyhyU4CYEVHpACo2NVCIqCiBrjvrzDK_SLobmftZFfbAEkmnpPzXazO95wUdgQ"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
  
  <body>
    <main>
      <p id="notice"></p>
        <div class="container">
          <div class="row">
            <h1 class="px-3 mx-auto">Welcome to<i class="fas fa-book"></i><!-- <i class="fas fa-book"></i> Font Awesome fontawesome.com --><strong>Bookers</strong>!</h1>
          </div>
        </div>
    </main>
  </body>
</html>